:root {
  --blue: #2196f3;
  --dark: #212121;
  --white: #ffffff;
  --broun: #757575;
  --black: #000000;
}

.header {
  background: var(--white);
}

.header-span,
.footer-span {
  color: var(--blue);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.navigation-list,
.contacts-list,
.features-list,
.footer-contacts-list,
.portfolio-list {
  padding-left: 0;
}

.navigation-link:focus,
.contacts-link:focus,
.footer-contacts-mail:focus,
.footer-logo-link:focus,
.footer-contacts-phone:focus,
.adress:focus {
  color: var(--blue);
}

.navigation-logo-link {
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--black);
}

.footer-logo-link {
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--white);
}

.navigation-link,
.contacts-list {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.navigation-link:hover,
.contacts-link:hover {
  color: var(--blue);
}


.contacts-link {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--broun);
}

.services {
  background: #2f303a;
}

.services-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}

.services-button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--blue)
}

.services-button:hover { 
  background: #188ce8;
}

.services-button:focus {
  background: #188ce8;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px; */
}

.features {
  background: var(--white);
}

.features-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark);
}

.features-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--broun);
}

.second-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark);
}

.team {
  background: #f5f4fa;
}

.team-pictures {
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark);
}

.team-position {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--broun);
}
.footer {
  background: #2f303a;
}

.adress {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white);
  text-decoration: none;
}

.footer-contacts-mail,
.footer-contacts-phone {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.portfolio {
  background: var(--white);
}

.portfolio-button-press {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark);
  background: #f5f4fa;
  border-radius: 4px;
}

.portfolio-button-press:focus {
  background: var(--blue);
  color: var(--white);
}

.portfolio-button-press:hover {
  background-color: var(--blue);
  color: var(--white);
}

.services-button,
.portfolio-button-press {
  cursor: pointer;
}

.portfolio-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark);
}
.portfolio-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--broun);
}

.portfolio-background {
  background: var(--white);
}
